@charset "UTF-8";
@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
  /* Путь к файлу со шрифтом */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.header .player .player-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.header .player .player-controls .play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.header .player .player-controls .pause {
  background-image: url("../assets/svg/pause.svg");
}

.header .player .player-controls .play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.header .player .player-controls .play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.header .player .play-list {
  text-align: left;
}

.header .player .play-list .play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .player .play-list .play-item:hover {
  opacity: 1;
}

.header .player .play-list .play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.header .player .play-list .play-item.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather .city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.weather .city::-webkit-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.weather .city:-ms-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.weather .city::-ms-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.weather .city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.weather .weather-icon {
  font-size: 44px;
}

.weather .weather-error {
  margin-top: -10px;
}

.weather .description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.main .slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.main .slider-icon.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.main .slider-icon.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.main .time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

@media (max-width: 768px) {
  .main .time {
    min-height: 80px;
    font-size: 72px;
  }
}

.main .date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.main .greeting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

@media (max-width: 768px) {
  .main .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }
}

.main .greeting-container .greeting {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  text-align: right;
}

@media (max-width: 768px) {
  .main .greeting-container .greeting {
    padding: 5px;
  }
}

.main .greeting-container .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
}

@media (max-width: 768px) {
  .main .greeting-container .name {
    font-size: 32px;
    padding: 5px;
  }
}

.main .greeting-container .name::-webkit-input-placeholder {
  color: #fff;
  opacity: .6;
}

.main .greeting-container .name:-ms-input-placeholder {
  color: #fff;
  opacity: .6;
}

.main .greeting-container .name::-ms-input-placeholder {
  color: #fff;
  opacity: .6;
}

.main .greeting-container .name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.footer .change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.footer .quote {
  min-height: 32px;
}

.footer .author {
  min-height: 20px;
}
/*# sourceMappingURL=style.css.map */